/* ---------------------------------------Header Top----------------- */

.header_top {
}
.header_top_list_left,
.header_top_list_right {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0 20px;
}
.header_top_item_left,
.header_top_item_right {
}
.header_top_item_left:first-child {
  margin: 0;
}
.header_top_link_left,
.header_top_link_right {
  text-decoration: none;
  color: #1F1F1F;
}

/* --------------------------------Header Bottom----------------------- */

.header_bottom {
}
h1 {
  margin: 0;
}
.header_bottom_nav {
  align-items: center;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.header_bottom_nav_list {
  display: flex;
  list-style: none;
}
.header_bottom_nav_item {
}
.header_bottom_nav_link {
  text-decoration: none;
  color: #1F1F1F;
}
.header-active {
  color:  #F46141 ;
}
.header_bottom_nav_link:hover {
  color:  #F46141 ;
}
.header_bottom_nav_link:active {
  color:  #FFC202 ;
}

@media only screen and (max-width: 768px) {
  /* .header_bottom_nav_list {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    transition-duration: 0.35s;
    padding: 80px 0;
    list-style: none;
    background-color: #eceff18e;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  } */
}
